/* CSS style reset */
body, header, nav, main, footer {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #d0cfd4;

	/*From the google font page to use imported font*/
	font-family: 'Comic Neue', cursive;
}

header img {
	display: block;

	top: 0;
	max-width: 40%;
	margin: 0 auto;
	
}

header {
	background-color: #d8e9f0;
	/* background: linear-gradient(to right, #d8e9f0 75%, #d0cfd4); */
	display: inline-block;
	text-align: center;
}

/*Jaren's contributions*/

/*Andrew changes*/
#basicInfo th,
#basicInfo tr {
    border: 1px solid black;
    padding: 1%;
}

#lateButtons {
	width: 30%;
	padding: 2%;
	margin: 1% 1%;
	border: 2px solid #000;
	border-radius: 3px;
}

#lateButtons:hover {
	padding: 3%;
}

#basicInfo,
#gameInfo {
    margin-left: 2%;
    width: 95%;
    padding: 1%;
}

#basicInfo {
    margin-bottom: 1%;
}

#gameInfo,
#basicInfo {
    background-color: #ddd;
}

#gameInfo tr:nth-child(even) {
    background-color: #ccc;
}


#gameInfo th,
#gameInfo tr {
    border: 1px solid black;
    padding: 1%;
}

aside img {
    padding: 1%;
}

#wii,
#wiiu,
#switch {
    display: none;
}

#moveMario img {
    display: none;
}

@-webkit-keyframes jump {
    0% {
        bottom: 10%;
    }

    50% {
        bottom: 50%;
    }

    100% {
        bottom: 10%;
    }
}

@keyframes jump {
    0% {
        bottom: 45%;
    }

    50% {
        bottom: 72%;
    }

    100% {
        bottom: 45%;
    }
}

.buttons {
	margin: 0 auto;
	display: block;
	max-width: 35%;
	margin-bottom: 5%;
}

.selector {
	background-color: #FFF;
	font-weight: bold;
	font-size: 1.25em;
	align-items: center;
	border-radius: 6px;
	margin: 2% auto;
	padding: 1px 6px 1px 6px;
}

button > img,
button > span {
	vertical-align: middle;
	margin: auto;
}

.selector:hover {
	border: 1px solid #d0cfd4;
	padding: 10px;
	box-shadow: 5px 10px 8px #888888;
}

.selector:active {
	transform: scale(0.85);
}

/*End of Jaren's contributions*/

#location img{
    border: 3px solid red;
    padding: 1%;
}
#location iframe {
    width: 80%;
    margin: auto;
}

nav a {
	color: #000;
	text-decoration: none;
}

#hamButton {
	width: 40px;
}

main img {
	max-width: 80%;
	display: block;
	margin: 0 auto;
}

footer h2 {
	color: #000;
}

/* Jaren's portfolio styles */

#jarenSUU {
	border: 2px solid #444;
	border-radius: 22px;
	box-shadow: 5px 10px 18px #444;
	text-align: center;
	margin: 2% auto;
	width: 65%;
	padding: 3%;
}

#jarenList {
	margin: 6% 2%;
	padding: 3%;
}

.jarenVid {
	max-width: 100%;
	margin: 2% auto;
	border: 2px solid #666;
	box-shadow: 5px 10px 18px #444;
}

#webAppImg {
	float: none;
	border: 2px solid #666;
	box-shadow: 5px 10px 18px #444;
	margin-bottom: 5%;
}

ol li {
	margin: 5% 0;
}

/* End of Jaren's portfolio styles */ 

footer a {
	text-decoration: none;
	color: #000;
}

.container {
	display: block;
}

.container p {
	padding: 1% 0;
}

#ninAnimation img {
	max-width: 15%;
	margin: 2% 0 0 2%;
}

#ninAnimation {
	position: absolute;
	-webkit-animation: linear alternate;
	animation: linear alternate;
	-webkit-animation-name: slideLeft;
	animation-name: slideLeft;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}

@-webkit-keyframes slideLeft {
	0% {
		left: 100%;
	} 100% {
		left: 0;
	}
}

@keyframes slideLeft {
	0% {
		left: 100%;
	} 100% {
		left: 1%;
	}
}

.grid-container p {
	border: 1px dashed rgba(0, 0, 0, 0.8);
	padding: 5%;
	font-size: 1.1em;
	text-align: center;
}

main {
	padding: 2%;
}

main p {
	font-size: 1.5em;
}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 768px), print {
	main p {
		font-size: 1.2em;
	}

	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto;
		padding: 2%;
	}

	nav li {
		padding: 2% auto;
		margin: 10% 2% 0;
		border-radius: 25px;
		font-size: 1.5em;
		white-space: nowrap;
	}

	#location {
        position: absolute;
        right: 0;
        float: right;
        width: 50%;
    }

	

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
	header img {
		max-width: 20%;
		margin: 0 2%;
		float: left;
	}

	nav {
		float: right;
		width: 75%;
		
	}

	/*Jaren's contributions*/

	.selector {
		display: block;
		margin: 2% auto;
	}

	/*end of Jaren's contributions*/

	/*Jaren's portfolio contributions*/

	#jarenSUU {
		float: right;
		margin: 2% 0;
		width: 35%;
	}

	/*end of Jaren's portfolio contributions*/

	/*Andrew added styling*/
    #basicInfo,
    #gameInfo {
        width: 40%;
    }

    #moveMario img {
        display: block;
        width: 10%;
        float: right;
    }

    #moveMario {
        position: absolute;
        -webkit-animation: linear alternate;
        animation: linear alternate;
        -webkit-animation-name: jump;
        animation-name: jump;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
    }
	

	#ninAnimation img {
		max-width: 15%;
		margin: 1% 0 0 1%;
	}

	header {
		background: linear-gradient(to right, #d8e9f0 75%, #d0cfd4);
	}

	main img {
		float: left;
		width: 30%;
	}

	
	header h1 {
		text-align: center;
		padding: 12% 0 5%;
		font-weight: bold;
	}
	

}
