/* CSS style reset */
body, header, nav, main, footer {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #d0cfd4;

	/*From the google font page to use imported font*/
	font-family: 'Comic Neue', cursive;
}

header img {
	display: block;
	top: 0;
	max-width: 40%;
	margin: 0 auto;
}

nav a {
	color: #000;
	text-decoration: none;
}

footer {
	background-color: #9b989f;
}

footer h2 {
	color: #000;
}



main {
	padding: 2%;
}

main p {
	font-size: 1.5em;
}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
	main p {
		font-size: 1.2em;
	}
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
	header img {
		max-width: 20%;
		margin-left: 3%;
	}

	nav {
		float: right;
		width: 75%;
		
	}

	nav li {
		padding: 2% auto;
		margin-top: 10%;
		font-size: 1.5em;
	}

	

}